.container {
    width: 960px;
    margin: 0px auto;
    font-size: 14px;
    line-height: 18px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    position: relative;
}

.horizontal-center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
}

::-webkit-scrollbar {
    display: none;
}

.background {
  fill: white;
  pointer-events: all;
}

.state {
    fill: #ccc;
    cursor: pointer;
    stroke-width: 0.2px;
    stroke: #333;
}

.state.active {
    fill: orange;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.hud_container {
    position: relative;
}

#chart {
    clear: both;
}

    #chart svg {
        background-color: #eee;
        /*width: 960px;*/
        /*height: 490px;*/
    }

#search {
    margin-left: 5px;
    position: absolute;
    left: 0;
}

.tweet-box {
    display: block;
    max-width: 99%;
    min-width: 220px;
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 10px 0px;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
    position: static;
    visibility: visible;
    text-align: center;
}

.buttons {
    text-align: center;
}
